*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  /* margin-top: 30px; */
  width: 100vw;
  height: 10vh;

  display: grid;
  place-items: center;
}
.container{
  width: 100vw;
  height: 5vh;
  display: grid;
  place-items: center;
}
.menu{
  background-color: black;
  width: 30vw;
  height: 5vh;
  border: 2px solid green;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
ul{
  width: 25vw;
  height: 3vh;
  display: flex;
  justify-content: space-around;
}

li{
 list-style: none;
 
}

li a{
  text-decoration: none;
  color: white;
}
hr{
  color: whitesmoke;
}

/* 404 Error Page css  */

.outer{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.inner{
  border-radius: 15px;
  background-color: rgb(230, 157, 68);
  width: 60vw;
  height: 60vh;
  display: grid;
  place-items: center;
}

.error{
  color: rgb(231, 15, 15);
}

.error_btn{
  border: none;
  border-radius: 7px;
  margin-top: 30px;
  width: 150px;
  height: 40px;
  background-color: rgb(41, 30, 30);
  font-size: 20px;
  font-family: cursive;
  color: gray;
}